html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.navbar-brand img {
  width: 160px;
  padding-top: 15px;
}
.menubar .right-part {
  padding-top: 15px;
}
.menubar.sticky .right-part {
  padding-top: 0px;
}
.menubar.sticky .navbar-brand img {
  padding-top: 0px;
}

.menubar.sticky .header-menu > ul > li {
  padding-top: 0px;
}
.bedge {
  color: #4de3ed;
  border-radius: 24.348px;
  background: #2c2c2c;
  display: inline-flex;
  padding: 10px 25px;
  max-width: 165px;
  text-align: center;
  justify-content: center;
}
.home-contact {
  background-image: url(../images/Regina.svg);
  background-size: cover;
  background-position: center center;
  padding: 35px 25px;
  border-radius: 9.183px;
  border: 0.574px solid #4f4f4f;
  height: 100%;
}
.home-contact h3 {
  color: #fff;

  font-size: 22.482px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0 20px 0;
}
.home-contact .input-reply {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 4.137px;
  border: 0;
  background: rgba(231, 233, 235, 0.5);
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px;
  color: #fff;
}
.home-contact .button-style1 {
  border-radius: 765.443px;
  background: #353535;
}
.home-contact .button-style1 {
  border-radius: 765.443px;
  background: #353535;
  transition: transform 0.3s;
}

.home-contact .button-style1:hover {
  background-color: #090909;
}
.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-heading h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  margin-bottom: 10px;
}

.text-heading p {
  font-style: normal;
  font-weight: 400;
  color: #8a898e;
}
.text-heading p span {
  font-weight: 800;
}
.icon-heading {
  display: flex;
  align-items: center;
}
.icon-img {
  border-radius: 20px;
  border: 0.66px solid var(--default-light-stroke, #e5e5e6);
  background: linear-gradient(180deg, #160f1d 0%, #121212 100%);
  padding: 20px;
  margin-right: 15px;
}
.icon-img img {
  width: 30px;
}
h4.title {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
ol.ordered {
  list-style: decimal;
}
ul.unordered {
  list-style: disc;
}

ol.ordered,
ul.unordered {
  margin-left: 15px;
}

.icon-title img {
  width: 26px;
}

.icon-title {
  display: flex;
  align-items: center;
}
.title-text h3 {
  font-size: 25px;
  line-height: 1;
  margin-left: 5px;
}

.title-text h4 {
  font-size: 16px;
  line-height: 1;
  margin-left: 0px;
}

.event-wrap {
  background-color: #000;
  border-radius: 30px;
  overflow: hidden;
}
.event .text-wrap {
  height: 100%;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event a {
  background: #353535;
  text-align: center;
}
.el .event a {
  margin-top: 30px;
}

.event a:hover {
  background: #353535;
}
.footer-logo {
  max-width: 200px;
  margin-bottom: 30px;
}
footer .abt h5 {
  font-weight: normal;
  color: #ffffffb2;
  font-size: 20px;
}

.footer .footer-mid .title h5 {
  font-size: 18px;
}
.footer .footer-mid .navigation li a,
.footer .footer-mid .company li a {
  color: rgba(255, 255, 255, 0.7);
}

.header-menu p {
  margin-top: -25px;
  margin-bottom: -8px;
  font-size: 14px;
}

.header-menu .active p {
  color: #3fff00;
}

span.submenu-button::before {
  margin-top: 5px;
}

.nav-pills .nav-link {
  color: rgba(255, 255, 255, 0.43);
  border-bottom: solid 1px #ffff;
  border-radius: 0;
  border-color: transparent;
  padding: 5px 0;
  margin-right: 25px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  border-color: #3fff00;
}

h1 {
  font-size: 35px;
}

.icon-title .icon {
  min-width: 35px;
}
::placeholder {
  color: #fff;
}

.banner video {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

#circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px #fff;
  position: absolute;
  pointer-events: none;
  transition: transform 0.2s ease-out; /* Added transition */
  transform: translate(-50%, -50%); /* Center the circle initially */
  top: 50%;
  left: 50%;
  display: flex;

  align-items: center;

  .circle_text {
    font-size: 16px;
    span {
      img {
        width: 30px;
      }
    }
  }
}
.banner-wrap {
  .discount {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .discount_img {
      img {
        max-width: 30px;
        width: 100%;
      }
    }

    .discount-text {
      h2 {
        font-size: 15px;
        line-height: 1;
        margin-left: 5px;
        padding: 0;
      }
    }
  }
  .banner-head {
    span {
      color: #3fff00;
      font-weight: 600;
    }
  }
}
.home1.menubar {
  background-color: #090909;
}
.home1.banner {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.rotate45 i{transform: rotate(-45deg); margin-left: 15px;}

a:hover .arrow-top i{color: #3fff00;}
.webinar {
  background: #000;
  /* background: rgb(70, 156, 162);
  background: radial-gradient(
    at left center,
    rgba(70, 156, 162, 1) 2%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 34%,
    rgba(0, 0, 0, 1) 100%
  ); */

  svg{transform: scale(2); fill: var(--Green-Hue, #91F2A6);
filter: blur(119.2447738647461px); }
}


.glow{position: absolute; left: 0; z-index: 0;}

.glow2{right: 0; left: auto;}

.powring-ai{
   svg{transform: scale(2); fill: var(#4DE3ED);
filter: blur(122.24456024169922px); }
}

.sec-title {
  font-size: 30px;
  line-height: 1.4;
}
.sec-title span {
  color: #3fff00;
  position: relative;
}
.sec-title span::after {
  content: "";
  background-image: url(/assets/images/text-underLine.svg);
  position: absolute;
  bottom: -20;
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  bottom: -15px;
  left: 0;
  background-position: left bottom; 
  margin-bottom: -10px;
  background-position: bottom;
  background-size: contain;
  max-width: 88%;
}
.z--1{z-index: -1;}


.text-setion {
  height: 100%;
  display: flex;
  align-items: center;
}
.flag-gpt {
  padding: 60px 0;
}
.text-setion h3 {
  font-size: 25px;
  line-height: 1.5;
}
.box-sec {
  background-color: #232323;
  padding-right: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.text-grey {
  color: #8e8e8e;
}

.flag-gpt-box {
  background-image: url(/assets/images/gpt-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(142, 142, 142, 0.25);
  border-radius: 20px;
  margin-top: 25px;
}

.flag-gpt-header {
  display: flex;
  align-items: center;
  padding: 0 45px;
}
.flag-gpt-header .gpt-icon {
  margin-right: 15px;
  padding: 30px 0; width: 50px;
  img{width: 100%;}
}
.flag-gpt-header h4 {
  font-size: 20px;
}
.flag-gpt-answer {
  display: flex;
  padding: 40px 45px;
  background-color: #000;
  align-items: start;
  background-color: #171717;
}
.flag-gpt-answer .gpt-icon {
  margin-right: 15px;
  width: 40px;
}
.flag-gpt-answer .gpt-text{flex: 1;}
.flag-gpt-answer .gpt-icon img {
  width: 100%;
}
.flag-gpt-que .gpt-img img {
  max-width: 60px;
}
.flag-gpt-que {
  padding: 50px 45px;
}
.flag-gpt-que .input-group {
  background: #0a0a0a;
  padding: 15px 0;
}
.flag-gpt-que .input-group input.form-control {
  background-color: transparent;
  border: none;
  color: #fff;
}
.flag-gpt-que button {
  border: none;
}
.home2.client .single-item {
  transform: scale(0.8);
  background-image: url(/assets/images/blog/Rochelle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  border: transparent;
}
.home2.client .swiper-slide-active.single-item {
  transform: scale(1);
  z-index: 999;
 
  background-size: cover;
  background-repeat: no-repeat;
  background: #232323; 
   background-image: url(/assets/images/blog/glowNew.svg);
   background-position: right bottom;
   
}
/* .swiper-container{overflow: visible;} */
.input-group > .form-control:focus {
  box-shadow: none;
}
.relative {
  position: relative;
}
.blog-subheading a {
  color: #df91f2;
  margin-bottom: 25px;
}
.single-blog .image {
  margin-bottom: 25px;
}
.single-blog h5 {
  font-size: 40px;
  color: #fff;
  margin-top: 15px;
}
.single-blog p {
  font-size: 20px;
  line-height: 1.5;
  color: #ababab;
}
.home2.client .swiper-button-prev,
.home2.client .swiper-button-next {
  background: #353535;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.home2.client .swiper-button-next::after,
.home2.client .swiper-button-prev::after {
  font-size: 25px;
  color: #fff;
}
.home2.client .swiper-button-next {
  right: -15px;
}
.home2.client .swiper-button-prev {
  left: -15px;
}

/* Price */
.price {
  background:url(../images/box-bg.svg); background-size: cover; background-repeat: no-repeat;background-position: center;
  /* background: radial-gradient(
    circle,
    rgba(58, 141, 146, 0.87156869583771) 1%,
    rgba(35, 35, 35, 1) 62%,
    rgba(35, 35, 35, 1) 100%
  ); */
  border: none;
  padding: 25px;
  border-radius: 20px;
  transition: all 0.5s;
  border: solid 1px transparent;border-radius: 10.183px;
border: 0.636px solid #4F4F4F;
background-color: #232323; height: 100%;

  .price-sub-head {
    p {
      color: #4de3ed;
    }
  }
  .price-head {
    h2 {
      padding: 8px 0;
      font-size: 25px;
    }
  }
  .price-desc {
    p {
      color: #ababab;
    }
  }
  .price-rate {
    h2 {
      padding: 15px 0;
    }
  }
  .price-btn {
    margin-top: 25px;
  }
}

.price:hover {
  transform: scale(1.1);
  border: solid 1px #fff;
}

.price-list ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.price-list ul li::before {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #469ca2;
  left: 0;
  content: "";
  border-radius: 50%;
  top: 5px;
}
.powring-ai {
  background: #000;
  /* background: radial-gradient(
    at right center,
    rgba(145, 242, 166, 0.5) 2%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 34%,
    rgba(9, 9, 9, 1) 100%
  ); */
}
.flagship-success {
  background-color: #000;
}
.success-info .success-icon {
  margin-right: 15px;
}
.success-info .success-icon img {
  width: 50px;
}
.success-info h4 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 3px;
}

.pitch-wrap {
  display: flex;
  position: relative;
}

.pitch-wrap .pitch-box:not(:last-child)::after {
  content: "";
  width: 150px;
  height: 2px;
  background-color: #3fff00;
  position: absolute;

  top: 120px;
  transform: translateX(90px);
  z-index: -1;
}

.pitch-box {
  background-color: #151515;
  padding: 15px;
  border-radius: 10px;
  margin: 30px;
  text-align: center;
  width: 100%;
}
.pitch-title h2 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}
.pitch-icon img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 15px;
}

.ecommerce-wrap h4 {
  font-size: 20px;
}
.ecommerce-wrap p {
  color: rgba(255, 255, 255, 0.6);
}

.ecommerce-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.num-wrap {
  text-align: center;
}
.num-title h2 {
  font-size: 30px;font-weight: 700;line-height: 1;margin-bottom: 5px;
}
.num-title h2 span {
  color: #3fff00;
}
.num-wrap span {
  display: inline-block;
}
.price-btn a.border-50 {
  border-radius: 50px;
}

.flip-card {
  perspective: 1000px;
}

.card-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-inner {
  transform: rotateY(180deg);
}



  .counting {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease, transform 1s ease;
    }

    .counting.active {
      opacity: 1;
      transform: translateY(0);
    }

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  display: none;
}

.client img {
  padding: 0 25px;
}
.quries-form {
  padding: 45px;
  border-radius: 30px;
  background: rgb(66, 65, 71);
  background: -moz-linear-gradient(
    217deg,
    rgba(66, 65, 71, 1) 26%,
    rgba(17, 16, 29, 1) 100%
  );
  background: -webkit-linear-gradient(
    217deg,
    rgba(66, 65, 71, 1) 26%,
    rgba(17, 16, 29, 1) 100%
  );
  background: linear-gradient(
    217deg,
    rgba(66, 65, 71, 1) 26%,
    rgba(17, 16, 29, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#424147",endColorstr="#11101d",GradientType=1);
}

.form-floating > label {
  color: #000;
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control,
.form-floating > .form-select {
  background-color: rgba(231, 232, 233, 0.5);
}
.form-control:focus {
  border-color: #3fff00;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #40ff003f;
}

.footer-logo img {
  max-width: 200px;
  margin-bottom: 30px;
}
.banner {
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 800px;
}
.banner .row {
  align-items: center;
}

.slider-nav {
  position: relative;
  display: flex;
  justify-content: end;
}
.slider-nav .swiper-button-next {
  right: auto;
}
.slider-nav .swiper-button-prev {
  left: auto;
}
.slider-nav .swiper-button-next,
.slider-nav .swiper-button-prev {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  margin: 5px;
  width: 40px;
  height: 40px;
}
.slider-nav .swiper-button-next::after,
.slider-nav .swiper-button-prev::after {
  font-size: 20px;
}
.nav-bullet {
  margin-top: 50px;
}
.nav-bullet .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  margin: 2px;
  width: 14px;
  height: 14px;
}
.nav-bullet .swiper-pagination-bullet-active {
  background: #3fff00;
}
.testimonials-1{background-image: url(../images/planet.png);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;}

.testimonials-1 .testimonials-wrap {
  background-color: #fff;
  color: #000;
}
.testimonials-1 .testimonials-wrap h2 {
  font-size: 20px;
  line-height: 1;
}
.testimonials-1 .testimonials-wrap h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  padding: 10px 0;
}
.testimonials-1 .testimonials-wrap p {
  color: #000;
  font-size: 14px;
}
.testimonials-1 .testimonials-wrap .content {
  padding: 10px;
}
.testi-footer .social {
  display: flex;
}
.testi-footer .social a {
  color: #000;
  font-size: 15px;
  background-color: #f2f4f7;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 5px;
}

.sub-title {
  color: #8e8e8e;
}

/* Icon Box */
.icon-box {
  text-align: center;
  margin-top: 100px;

  .icon-img {
    border: none;
    margin: auto;
    background: none;

    img {
      width: 80px;
      height: 80px;
    }
  }
  .icon-title {
    text-align: center;
    h2 {
      font-size: 20px;
      line-height: 1;
      width: 100%;
      margin: 20px 0;
    }
  }
  .icon-text {
    p {
      color: #797979;
    }
  }
}

.image-slideshow h4 {
  font-size: 20px;
}
.view-all {
  color: #3fff00;
  text-align: right;
}
.image-slideshow .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 10px;
}
.page-wrapper {
  padding-top: 100px;
}
.abt-box {
  background: rgba(196, 196, 196, 0.15);
  padding: 30px;
}
.abt-box h2 {
  font-size: 30px;
  line-height: 1.54;
}
.abt-box p {
  color: rgba(247, 247, 247, 0.5);padding: 25px 0;
}
.abt-box .row {
  justify-content: center;
  align-items: center;
  position: relative;
}

.vertical-line {
  content: "";
  height: 100%;
  border-left: 2px solid #e2e2e2; /* Change the color and thickness as needed */
  position: absolute;
  top: 0;
}

.internship-wrap {
  background: rgba(196, 196, 196, 0.15);
  border-radius: 20px;
  overflow: hidden;
}
.internship-text {
  padding: 40px;
  p {
    color: rgba(247, 247, 247, 0.5);
  }
}
.internship-text h2 {
  font-size: 30px;
}

/* footer Blog */
.blogs-sec {
  .blog-title {
    h3 {
      font-size: 22px;
      line-height: 1.4;
      margin-top: 20px;
      a {
        color: #fff;
      }
    }
  }
}

.list-circle i {
  font-size: 16px;
  color: #469ca2;
  margin-right: 10px;margin-top: 5px;
}

.program-form {
  padding: 40px;
  border-radius: 10px;

  background-image: url(../images/Glow.png); background-repeat: no-repeat; background-size: cover; background-position: center right;
  border: 0.636px solid #4F4F4F; background-color: #232323; 
 
}
.abt-head li {
  margin-bottom: 15px;
}

.transforming-idea {
   
}

.CourseCurriculum-wrap {

  padding: 40px 30px;
  border-radius: 10px;
 background-image: url(../images/course-bg.png); background-repeat: no-repeat; background-size: cover; background-position:bottom;

  h2{line-height: 1; margin-bottom: 20px;}
  p{color: #ABABAB; }
}
.CourseCurriculum-wrap h2 {
  font-size: 30px;
}

/* Scroll Images */
.marq-wrap img {
  margin: 5px;
}

.marq-wrap {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.marq-content {
  display: flex;
  flex-direction: column;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.marq-wrap-down img {
  margin: 5px;
}

.marq-wrap-down {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.marq-content-down {
  display: flex;
  flex-direction: column;
  animation: marquee-down 20s linear infinite;
}

@keyframes marquee-down {
  0% {
    transform: translateY(
      calc(-100% * 1)
    ); /* Number of images - adjust accordingly */
  }
  100% {
    transform: translateY(0);
  }
}

.marq-wrap-down img {
  width: 100%;
}

/* Scroll Images */

.learn-skil-wrap {
  background-color: #1c1c1e;
  padding: 40px 40px 40px 0;
  position: relative;
}
.learn-skil-wrap::before {
  content: "";
  position: absolute;
  background-color: #1c1c1e;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
}

.color-deam {
  color: rgba(255, 255, 255, 30%);
}

.learn-skill hr {
  margin-bottom: 30px;
  margin-top: 25px;
}

h2.price-text {
  font-size: 50px;
}

.footer-accordion .acc-title {
  display: flex;
  color: #000;
}

.footer-accordion .num-text {
  width: 60px;
  font-size: 30px;
  color: #000;
  display: inline-block;
  line-height: 1;font-weight: 600;
}
.footer-accordion .accordion-button {
  color: #000;
  border: none;
}
.footer-accordion .accordion-button:not(.collapsed),
.footer-accordion .collapse.show {
  color: #000;
  background-color: #cfffbf;
}
.footer-accordion .accordion-body {
  color: #000;
  background-color: #cfffbf;
}
.footer-accordion .accordion-button:not(.collapsed) p {
  color: #000;
}

.footer-accordion .accordion-body {
  padding-left: 80px;
  padding-top: 0;color: rgb(90, 83, 101);
}
.footer-accordion .accordion-button:focus {
  box-shadow: none;
}
.footer-accordion .accordion-button.collapsed .acc-title,
.footer-accordion .accordion-button.collapsed .acc-title p {
  color: #000;
}
.footer-accordion .accordion-header {
  background-color: #fff;
}
.footer-accordion .accordion-item {
  border-bottom: solid 1px #000;
}
.footer-accordion .acc-title p {
  font-weight: 700; font-size: 20px;
}
.second-img {
  max-width: 90%;
  margin-top: 50px;
}
.third-img {
  height: fit-content;
  align-self: center;
  max-width: 70%;
}

.steps {
  .steps-text {
    font-size: 14px;
  }

  .steps-title {
    font-size: 45px;
  }

  .steps-desc {
  }
}

.arrow-top-right i {
  transform: rotate(-45deg);
}
.list-circle li {
  display: flex;
  margin-bottom: 15px;
}
.list-circle span {
  margin-top: -5px;
}

.testimonials-3 {
  text-align: center;

  .testi-img {
    img {
      max-width: 200px;
    }
  }

  h2 {
    font-size: 20px;
  }
 .swiper-button-prev,
  .swiper-button-next{width: 80px; height: 80px;}

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 25px;
    color: #fff;
    width: 70px;
    height: 70px;
    border: solid 1px #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    border-color: #3fff00;
    color: #3fff00;
}

.swiper-button-prev{left: -100px;}
  .swiper-button-next {
    font-size: 25px;
    right: -100px;
  }
}
.filter .form-select {
  display: inline-block;
  width: auto;
}

.product-wrap {
  margin-top: 50px;

  .manufacturer-name {
    font-size: 16px;
    color: #3fff00;
  }

  .product-name {
    font-size: 30px;
    padding: 15px 0;
    font-weight: 600;
  }
  .product-desc {
    padding-bottom: 15px;
  }
  .product-img {
  }
}

.event-slide {
  padding-bottom: 50px;
  .event-img {
    img {
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }
  .event-name {
    display: flex;
    align-items: center;
    padding: 15px 0;

    h2 {
      font-size: 18px;
      line-height: 1;
    }
    span.ev-icon {
      width: 30px;
      margin-right: 10px;
      img {
        width: 100%;
      }
    }
  }
  .event-desc {
    padding-bottom: 15px;
  }
  .event-date {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .ev-icon {
      width: 25px;
      margin-right: 10px;
      img {
        width: 100%;
      }
    }
    .ev-desc {
    }
  }
}

.icon-text-sub {
  display: flex;
  align-items: center;
  .icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #160f1d;
    border: solid 1px #e5e5e6;
    border-radius: 20px;
    padding: 18px;
    margin-right: 10px;
  }

  .text {
    h2 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 5px;
    }
    p {
      color: #8a898e;
    }
  }
}
.date-time {
  display: flex;

  .dt-block {
    align-items: center;
    background: #383838;
    padding: 10px;
    border-radius: 10px;
    aspect-ratio: 1;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  img {
    max-width: 35px;
    margin-bottom: 5px;
  }

  .date-text {
  }
  
}

.typewriter {
  display: initial;
  overflow: hidden;
  border-right: 0.08em solid #000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  word-break: break-all;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
.success-list p{color: rgba(255, 255, 255, 0.7);}

.success-list,
.ecommerce-wrap {
  padding: 15px;
  background: transparent;
  transition: background 0.3s ease; border-radius: 20px;
}
.success-list:hover,
.ecommerce-wrap:hover {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg, rgba(255, 255, 255, .2) 0%, #000 100% 
  );
  background: -webkit-linear-gradient(
   180deg, rgba(255, 255, 255, .2) 0%, #000 100% 
  );
  background: linear-gradient(
   180deg, rgba(255, 255, 255, .2) 0%, #000 100% 
  );
}
.event-wrap .text-wrap {
  padding: 20px;
}
.event-wrap img.left-img {
  height: 100%;
}
.event-wrap .text-wrap p {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 15px;
}
.icon-title h4 {
  font-size: 16px;
}

.small-event {
  border-radius: 0px;
  margin-bottom: 50px;

  .icon-title {
    .icon {
      min-width: 20px;
      img {
        width: 18px;
      }
    }
  }
  .text-wrap {
    padding: 0px 15px 0px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title-text h3 {
      font-size: 18px;
    }

    .desc {
      p {
        font-size: 12px;
        font-weight: 400;
      }

     
      
    }
     .price-details{
span{position: relative;padding: 0 4px;}
        span::after{content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #3fff00;
        bottom: 8px;
        left: 0; }
      }
  }
  .button-style1 {
    font-size: 12px;
    line-height: 40px;align-self: flex-start;
    margin: auto 0 0 auto;
  }
}

.beni-wrap {
  background-color: #121212;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  border: solid 1px #02054b;
  border-radius: 5px;
  margin-top: 15px;
  .icon {
    img {
      width: 25px;
      margin-right: 10px;
    }
  }
  .text {
  }
}
.course-benifit .beni-wrap:nth-child(odd) {
  transform: translateX(100px);
}
.case-details {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #fff;
  padding-bottom: 15px;

  .case-date{font-size: 14px;}
  .min-read{font-size: 14px;}
 

}
.case-study-sec  p{font-size: 14px;}

.button-style5 {
  background-color: #fff;
  color: #000;
  padding: 15px 25px;
  border-radius: 35px;
}
.button-style5 span i {
  transform: rotate(-45deg);
}
.case-study-sec h2 {
  font-size: 25px;
  line-height: 1.4;
  margin: 15px 0;
}
.case-study-sec {
  margin-bottom: 50px;
}
.case-study-top {
  .img-part img {
    border-radius: 20px;
  }

  .text-part {
    background-color: #b99772;
    padding: 25px;
    height: 100%;
    border-radius: 20px;
    h2 {
      font-size: 35px;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}

.realated-case h2 {
  font-size: 20px;
  line-height: 1.2;
  margin: 15px 0;
}

.blog-listing {
  .blog-single {

    margin-bottom: 50px;
    .blog-image {
      position: relative; border-radius: 25px; overflow: hidden;

      .blog-tag {
        position: absolute;
        display: flex;
        bottom: 15px;

        a {
          color: #fff;
          background-color: #1f1f1f;
          padding: 5px 20px;
          border-radius: 20px;
          margin: 5px;
        }
      }

      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    .case-details {
      margin-top: 15px;
      border-color: #ffffff5c;
    }

    .blog-title {

      a {
        color: #fff;
        h2 {
          font-size: 25px;
          line-height: 1.4;
          margin-top: 15px;
          display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
        }
      }
    }

    .blog-short-desc {
      margin: 15px 0;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      a {
        color: #fff;
      }
    }
    .blog-link {
      a {
        color: #3fff00;
      }
    }
  }
}



.fl-wrap {
   
    width: 100%;
    position: relative;
}

.bbb-wrapper .subcribe-form p {
    color: #fff;
    font-size: 14px;
}

.bbb-wrapper .subcribe-form form {
    max-width: 450px;
    margin: 15px auto;
    position: relative;
}

.bbb-wrapper .subcribe-form #subscribe input {
    width: 100%;
    height: 48px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 1px;
    padding: 0 30px;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
}

.bbb-wrapper .subcribe-form #subscribe #subscribe-button {
    height: 38px;
    padding: 0 30px;
    border-radius: 3px;
    border: none;
    position: absolute;
    right: 6px;
    top: 6px;
        font-size: 11px;
    color: #fff;
    cursor: pointer;
}

.subscribe-message {
    color: #fff;
    float: left;
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
    line-height: 19px;
}

.color-bg{ 
	    background: #2F2F2F;
}

#subscribe-button:hover{
    background: #2f2f2fb6;
    color: #fff;
}

.footer-newlatter .form-check{display: inline-block;}
.form-check label {
      margin-right: 15px;
    }


.blog-featured{background-image: url(/assets/images/blog/Featured-Image.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100vh; position: relative;}
.overlay-blog{position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,1) 99%);

}

.PrivacyPolicies p{color: rgba(255, 255, 255, .5);}
.PrivacyPolicies h3{font-size: 22px;}

.apply-img{width: 150px; height: 150px; object-fit: cover; border-radius: 100%;}
.c-form{background-color: #fff; padding: 30px; border-radius: 20px;}
.button-style6{background-color: #141414; color: #fff; padding: 15px 40px; border-radius:50px}

.c-form .form-floating > .form-control, .c-form .form-select{background-color: #fff;}

.more-events .title-text h4{font-size: 14px;}
.more-events  .event-wrap{background-color: #fff; color: #000;}
.more-events .event-wrap p{color: #000;}

.button-style8{ border: solid 1px #000; padding: 10px 20px; }
.button-style8 i, a.button-style8 {color: #000; border-radius: 50px; font-size: 15px;}

.button-style8 i{transform: rotate(-45deg);;}

.btn-grey{background-color: #404040; color: #fff; padding: 15px 30px; border-radius: 50px;}
.btn-link{color: #fff; text-decoration: none;}

.header-menu ul li a{font-size: 14px;
 }

  .button-style4{font-size: 14px;line-height: 40px;
  padding: 0 20px;}

.button-style1.bg-grey{background: #353535; }
.flat-grey-btn{ border-radius: 100px !important;display: inline-flex;}
.flat-grey-btn i {margin-left: 15px; padding: 0 !important;}
.mt--300{margin-top: -300px;}

.flat-grey-btn1 a.button-style1{background: #404040; border: solid 1px #404040;;}
.flat-grey-btn1 a.button-style1:hover{border-color: #3fff00; color:#3fff00; }
.quries-form input:hover{ border-color: #3fff00;}
.abt-head img{height: 100%;}
.bg-grey{background-color: #353535;}
.bg-grey2 {
  background-color: rgb(35, 35, 35);
}

.accordion-button::after{ background: url(../images/plus.svg); background-size: cover; background-repeat: no-repeat; width: 15px; height: 15px; padding-right: 15px;}


.accordion-button:not(.collapsed)::after{ background: url(../images/plus-bg.svg); background-size: cover; background-repeat: no-repeat; width: 35px; height: 35px; margin-right: -10px;}
.fs-30{font-size: 30px !important;}
.fs-28{font-size: 25px !important;}
.fs-24{font-size: 24px !important;}
.fs-20{font-size: 20px !important;}
.fs-19{font-size: 19px !important;}
.fs-18{font-size: 18px !important;}
.fs-17{font-size: 17px;}
.fs-16{font-size: 16px;}
.fs-15{font-size: 15px;}
.fs-14{font-size: 14px;}
.fs-13{font-size: 13px;}
.fs-12{font-size: 12px;}
a:hover {
  color: #fff;
}

.course-benifit h1{font-size: 60px; }
.learn-skill .certification{position: absolute; width: 50%; right: 0; height: 100%; text-align: right;}
.learn-skill img {
  height: 90%;
}
.flip-card{
  h5{margin-top: 15px;}
  p{color: #F2F2F2;}
}
.form-floating > label{padding:.75rem;}
.form-floating > .form-control, .form-floating > .form-select{padding:.75rem;height: calc(3rem + 2px);}
.program-form{
h3{font-size: 30px;}

}






.sales-cards-wapper {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
  display: flex;
  position: relative;
}

.sales-cards-wapper.is--grid {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: grid;
}

.sales-card {
  height: 100%; 
  
  flex: 1;
  position: relative;
  overflow: hidden;
  
}

.sales-card.is--1 {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

.sales-card.is--3 {
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}



.sales-card.is--2 {
  z-index: 2;
 
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}




.sales-card-bg-image.is--2 {
  height: auto;
}

.sales-card-bg-image.is--3, .sales-card-bg-image.is--5, .sales-card-bg-image.is--5 {
  height: 100%;
}

.sales-card-bg-image.is--6 {
  height: 100%;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}



.section-sales-testimonials-2.overflow-hidden {
  overflow: hidden;
}

.event-wrap.small-event a.button-style1:hover .arrow-top svg{fill: #16a085 !important;}

























@media (min-width: 1200px) {
  .how-we-works h1 {
    font-size: 90px;
  }
}

@media (max-width: 1366px) {
  .event .text-wrap {
    padding: 20px;
  }
  body,
  p,
  ol,
  ul {
    font-size: 16px;
  }
  .title-text h3 {
    font-size: 22px;
  }
  .title-text h4 {
    font-size: 18px;
  }
  .icon-title.sm img {
    width: 22px;
  }
}

@media (max-width: 991.98px) {
  .header-menu ul > li a,
  .home3 .header-menu > ul > li.active > a,
  .header-menu ul ul li a,
  .header-menu .submenu-button {
    color: #090909;
  }
  .home3 .header-menu > ul > li.active > .submenu-button::before,
  .home3 .header-menu > ul > li:hover > .submenu-button::before {
    color: #000;
  }
  .partner .col-md {
    width: 50%;
  }
  .partner .col-md img {
    margin-bottom: 20px;
  }
  .home1.banner {
    padding-bottom: 45px;
  }
}

@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
  .home-contact {
    padding: 20px 10px;
  }
}

@media (max-width: 600px) {
  .swiper-button-next {
    right: 0px;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .home-contact {
    margin-top: 20px;
  }

  .pitch-wrap {
    flex-direction: column;
  }
  .price {
    margin-bottom: 15px;
  }
  .home3 .header-menu ul ul li:hover > a,
  .home3 .header-menu ul ul li.active > a,
  .home3 .header-menu ul ul li > a:hover,
  .home3 .header-menu > ul > li.active > a,
  .home3 .header-menu > ul > li:hover > a {
    color: #000;
  }
  .home1.banner {
    height: 80vh;
  }
  h2 {
    line-height: 1;
    font-size: 30px;
  }
  h6 {
    font-size: 16px;
    line-height: 21px;
  }
  .sec-title {
    font-size: 25px;
    margin-bottom: 25px;
    line-height: 1.5;
  }
  .box-sec {
    padding: 20px;
  }
  .text-setion h3 {
    font-size: 20px;
    margin-top: 15px;
  }
  body,
  p,
  ol,
  ul {
    font-size: 15px;
    line-height: 1.5;
  }
  .flag-gpt-header {
    padding: 0 20px;
  }
  .flag-gpt-answer {
    padding: 25px 20px;
  }
  .flag-gpt-answer .gpt-icon img {
    min-width: 30px;
  }
  .flag-gpt-que {
    padding: 20px;
  }
  .flag-gpt {
    padding: 20px 0;
  }
  .single-blog h5 {
    font-size: 25px;
  }
  .single-blog p {
    font-size: 16px;
    line-height: 1.5;
  }
  .pitch-box {
    margin: 0 0 15px;
  }
  .pitch-wrap .pitch-box:not(:last-child)::after {
    content: none;
  }
  .ecommerce-sec {
    margin: 15px 0;
  }
  .num-wrap {
    margin-bottom: 30px;
  }
  .flip-card {
    margin-bottom: 20px;
  }
  .client img {
    padding: 0 30px;
    margin-bottom: 25px;
  }
  .quries-form {
    padding: 20px;
  }
  h3 {
    font-size: 30px;
    line-height: 53px;
  }
  .form-floating {
    margin-top: 15px;
  }
  .footer .footer-mid .title {
    padding-bottom: 15px;
  }
  .footer-accordion .num-text {
    display: flex;
    flex-shrink: 0;
  }
  .banner {
    padding-top: 90px;
  }
  .course-benifit .beni-wrap:nth-child(2n + 1) {
    transform: none;
  }
}



















@media screen and (min-width: 1280px) {
  .gradient-balll-green {
    right: -25%;
  }

   .gradient-balll-blue {
    left: -25%;
  }
}

.gradient-balll-green {
 width: 30rem;
  height: 30rem;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #91F2A6, #030a21);
  opacity: .6;
  filter: blur(180px);
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 31%;
  bottom: 50%;
  left: auto;
  right: -10%;
}

.gradient-balll-blue {
 width: 30rem;
  height: 30rem;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #4DE3ED, #030a21);
  opacity: .6;
  filter: blur(180px);
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 22%;
  bottom: 50%;
  right: auto;
  left: -10%;
}


/* Typography */

.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}





.word {
  position: absolute;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

.testimonials-3{

p{font-size: 24px;}

}













@media (max-width: 767px) {
		.cust-coursel .carousel-inner .carousel-item > div {
			display: none;
		}
		.cust-coursel .carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}

	.cust-coursel .carousel-inner .carousel-item.active,
	.cust-coursel .carousel-inner .carousel-item-next,
	.cust-coursel .carousel-inner .carousel-item-prev {
		display: flex;
	}

	/* medium and up screens */
	@media (min-width: 768px) {

		.cust-coursel .carousel-inner .carousel-item-end.active,
		.cust-coursel .carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		.cust-coursel .carousel-inner .carousel-item-start.active, 
		.cust-coursel .carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	.cust-coursel .carousel-inner .carousel-item-end,
	.cust-coursel .carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}

  .bg-black .carousel-item{background-color: #000;}

  .carousel .case-details{
.case-date{font-size: 14px;}
.min-read{font-size: 14px;}



  }

  .carousel .price-btn a.button-style5{font-size: 14px }

    .carousel .single-item {padding: 0px 30px;}
   .carousel  .case-study-sec p {
  font-size: 16px;
}