body{background-color: #090909;}
.navbar-brand img{max-width: 190px;}
.bedge{color: #4DE3ED;border-radius: 24.348px;
  background: #2C2C2C; display: inline-flex;
  padding: 10px 25px;max-width: 140px;
  text-align: center;
  justify-content: center;}
  .home-contact{background-image: url(../images/Regina.svg); background-size: cover; background-position: center center; padding:35px 25px;border-radius: 9.183px;
    border: 0.574px solid #4F4F4F; height: 100%;}
    .home-contact h3{color: #FFF;
   
      font-size: 22.482px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; margin: 15px 0;}
.home-contact .input-reply{width: 100%;
  height: 55px;
  padding-left: 20px;
  border-radius: 4.137px;
  border: 0;
background: rgba(231, 233, 235, 0.50);
  border-radius: 4px;
  outline: none;
  margin-bottom: 30px; color: #FFF;}
  .home-contact .button-style1{border-radius: 765.443px;
    background: #353535; }
    .home-contact .button-style1{border-radius: 765.443px;
      background: #353535;transition: transform 0.3s }

      .home-contact .button-style1:hover{background-color: #090909;}
      .contact-wrap{display: flex;
        flex-direction: column;
        justify-content: space-between;height: 100%;}
   






























